# Build Files
build
bundle
storybook-static

# Dependency Directories
node_modules

# Jest Clutter
__snapshots__

# Logs
logs
temp
*.keep
*.log

# OS Folder Config
.DS_Store

# Runtime Data
pids
*.pid
*.seed

# Bundle Analysis
.size-snapshot.json
stats.html
