// sass-lint:disable no-important

@import '../App/colors';
@import '../App/mixins';

// Containers

.chat-list-item {
  @include flex-column(flex-start, flex-start);
  border-top: 1px solid material-color('grey', '100');
  box-sizing: border-box;
  font-size: 1rem;
  min-height: 4.7rem;
  width: 100%;

  * {
    box-sizing: inherit;
  }

  &:hover {
    background-color: material-color('grey', '100');
  }
}

.chat-list-item--selected {
  &:not(:hover) {
    background-color: material-color('grey', '200');
  }
}

.chat-list-item__column {
  @include flex-column(flex-start, flex-start);
  width: 100%;
}

.chat-list-item__content {
  @include flex-grow(1);
  @include flex-row(center, space-between);
  max-width: 100%;
  min-width: 10rem;
  padding: .3rem;

  .chat-list-item__column {
    width: calc(100% - 1.6rem);
  }
}

.chat-list-item__row {
  @include flex-row(center, space-between);
  width: 100%;
}

// Avatar

.chat-list-item__avatar {
  span {
    font-size: .9rem;
    font-weight: bold;
  }
}

.chat-list-item__avatar--aligned {
  min-width: 3.2rem;

  img,
  svg {
    @include square(3rem !important);
  }
}

.chat-list-item__avatar--staggered {
  min-width: 3.5rem;

  img,
  svg {
    @include square(3.5rem !important);
  }
}

// Text Content

.chat-list-item__chevron {
  @include align-self(center);
  @include unselectable;
  @include flex-shrink(0);
  color: material-color('grey', '600');
  min-width: 1.6rem;
  padding-top: .3rem;
  pointer-events: none;

  svg {
    @include square(1.6rem !important);
  }
}

.chat-list-item__description {
  @include ellipsize;
  @include unselectable;
  color: material-color('grey', '500');
  font-size: .9rem;
  height: 1.2rem;
  pointer-events: none;
  width: 100%;
}

.chat-list-item__subtitle {
  @include ellipsize;
  @include unselectable;
  font-size: .9rem;
  pointer-events: none;
  width: 100%;
}

.chat-list-item__timestamp {
  @include align-self(center);
  @include unselectable;
  color: material-color('grey', '500');
  font-size: .9rem;
  pointer-events: none;
  white-space: nowrap;
}

.chat-list-item__title {
  @include ellipsize;
  @include unselectable;
  font-weight: 600;
  pointer-events: none;
  width: 100%;
}

// Menu and Actions

.chat-list-item__action {
  @include flex-grow(1);
  color: material-color('grey', '500');
  padding: .2rem;
  text-align: center;

  &:hover {
    background-color: material-color('grey', '200');
    color: material-color('grey', '600');
  }

  img,
  svg {
    @include square(1.2rem !important);
  }
}

.chat-list-item__menu {
  @include flex-row(center, space-evenly);
  width: 100%;
}

// Status

.chat-list-item__status {
  svg {
    @include square(1rem !important);
  }
}

.chat-list-item__status--archive {
  color: material-color('grey', '500');
}

.chat-list-item__status--new {
  color: material-color('blue', '500');
  padding-right: .1rem;

  svg {
    @include square(.8rem !important);
  }
}

.chat-list-item__status--pin {
  color: material-color('red', '400');
}

.chat-list-item__status--star {
  color: material-color('yellow', '800');
}
