// sass-lint:disable no-important

@import '../App/colors';
@import '../App/mixins';

// Layout

.message-content-container {
  box-sizing: border-box;
  overflow: show;
  padding: .4rem 0;
  position: relative;

  * {
    @include unselectable;
    box-sizing: inherit;
    position: relative;
  }
}

.message-content-container--full {
  overflow: hide;
  width: 100%;
}

.message-content {
  padding: .3rem .6rem;
}

.message-content--event {
  @include flex-column(center, center, center);
  font-size: .9rem;
  width: 100%;
}

.message-content--system {
  @include flex-column(center, center, center);
  color: material-color('grey', '500');
  font-size: .9rem;
  width: 100%;

  .message-content__timestamp {
    font-size: .9rem;
    font-weight: 500;
  }
}

.message-content--bottom:not(.message-content--full) { // sass-lint:disable-line force-pseudo-nesting
  border-radius: .4rem .4rem .8rem .8rem !important;
}

.message-content--full {
  @include flex-column(flex-start, flex-start);
  width: 100%;

  .message-content__footer {
    @include flex-row(flex-end, flex-start);
    width: 100%;
  }
}

.message-content--left {
  @include flex-column(flex-start, flex-start);
  background-color: material-color('grey', '100');
  border-radius: .8rem;
  margin-right: auto;
  max-width: 30rem;
  width: fit-content;
}

.message-content--middle:not(.message-content--full) { // sass-lint:disable-line force-pseudo-nesting
  border-radius: .4rem !important;
}

.message-content--right {
  @include flex-column(flex-start, flex-start);
  background-color: material-color('blue', '500');
  border-radius: .8rem;
  color: material-color('grey', '50');
  margin-left: auto;
  max-width: 30rem;
  width: fit-content;
}

.message-content--top:not(.message-content--full) { // sass-lint:disable-line force-pseudo-nesting
  border-radius: .8rem .8rem .4rem .4rem !important;
}

// Subviews

.message-content__name {
  font-weight: 600;
  pointer-events: none;
}

.message-content__text {
  pointer-events: none;
}

.message-content__footer {
  @include flex-row(flex-end, flex-end);
  pointer-events: none;
  width: 100%;
}

.message-content__receipts {
  @include flex-row(flex-end, flex-end);
  padding-right: .2rem;
  pointer-events: none;
}

.message-content__receipt {
  @include square(.6rem !important);
  pointer-events: none;
}

.message-content__timestamp {
  font-size: .7rem;
  pointer-events: none;
}
