// sass-lint:disable no-important

@import '../App/colors';
@import '../App/mixins';

// Layout

.message-content-container {
  box-sizing: border-box;
  padding: .4rem 0;
  width: 100%;

  * {
    box-sizing: inherit;
  }
}

.message-content {
  padding: .25rem .5rem;
}

.message-content--event {
  @include flex-column(center, center, center);
  font-size: .9rem;
  width: 100%;
}

.message-content--system {
  @include flex-column(center, center, center);
  color: material-color('grey', '500');
  font-size: .9rem;
  width: 100%;

  .message-content__timestamp {
    font-size: .9rem;
    font-weight: 500;
  }
}

.message-content--left {
  @include flex-column(flex-start, flex-start);
  background-color: material-color('grey', '100');
  border-radius: .5rem;
  float: left;
  max-width: 30rem;
}

.message-content--right {
  @include flex-column(flex-start, flex-start);
  background-color: material-color('blue', '500');
  border-radius: .5rem;
  color: material-color('grey', '50');
  float: right;
  max-width: 30rem;
}

.message-content--full {
  @include flex-column(flex-start, flex-start);
  background-color: material-color('grey', '50');
  width: 100%;

  .message-content__footer {
    @include flex-row(flex-end, flex-start);
    width: 100%;
  }
}

// Subviews

.message-content__name {
  font-weight: 600;
}

.message-content__footer {
  @include flex-row(flex-end, flex-end);
  width: 100%;
}

.message-content__receipts {
  @include flex-row(flex-end, flex-end);
  padding-right: .2rem;
}

.message-content__receipt {
  @include square(.85rem !important);
}

.message-content__timestamp {
  font-size: .85rem;
  font-weight: 400;
}
