// sass-lint:disable no-important

@import '../App/colors';
@import '../App/mixins';

.chat-title-bar {
  @include flex-row(center, space-between);
  @include sticky;
  background-color: material-color('blue-grey', '400');
  box-sizing: border-box;
  color: material-color('grey', '50');
  font-size: 1rem;
  left: 0;
  overflow: hidden;
  padding: .1rem .3rem;
  top: 0;
  width: 100%;
  z-index: 5;

  * {
    box-sizing: inherit;
  }
}

.chat-title-bar__avatar-button {
  margin: 0 0 0 .1rem;
  min-width: 3rem;
  position: relative;

  img,
  svg {
    @include square(3rem !important);
  }

  span {
    font-size: .9rem;
  }
}

.chat-title-bar__back-button {
  @include square(2rem !important);
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  margin: 0 1rem 0 0;
  min-width: 2rem;
  outline: none;
  padding: 0;

  svg {
    @include square(1.5rem !important);
    color: material-color('grey', '50');
  }

  &:hover {
    background-color: material-color('blue-grey', '500');
  }

  &:active {
    background-color: material-color('blue-grey', '600');
  }
}

.chat-title-bar__heading {
  @include flex-column(center, center);
  @include flex-grow(1);
  max-width: 100%;
  min-width: 10rem;

  span {
    @include ellipsize;
    text-align: center;
    width: 100%;
  }
}

.chat-title-bar__subtitle {
  font-size: .8rem;
}

.chat-title-bar__title {
  font-size: 1rem;
  font-weight: 500;
}
