// sass-lint:disable no-important

@import '../App/colors';
@import '../App/mixins';

.chat-message {
  @include flex-row(flex-start, flex-start);
  box-sizing: border-box;
  font-size: 1rem;
  overflow: visible;
  position: relative;
  width: 100%;

  * {
    box-sizing: inherit;
  }
}

.chat-message--center {
  @include justify-content(center);
}

.chat-message--left {
  @include justify-content(flex-start);
}

.chat-message--right {
  @include justify-content(flex-end);
}

.chat-message__avatar {
  img,
  svg {
    @include square(3.5rem !important);
  }

  span {
    font-size: 1rem;
    font-weight: bold;
  }
}

.chat-message__content--float {
  > div {
    @include box-shadow(0 4px 8px 0 rgba(0, 0, 0, .2));
  }
}
