// sass-lint:disable no-important

@import '../App/colors';
@import '../App/mixins';

.chat-message {
  @include flex-row(flex-start, flex-start);
  box-sizing: border-box;
  font-size: 1rem;
  overflow: visible;
  position: relative;
  width: 100%;

  * {
    box-sizing: inherit;
  }
}

.chat-message--center {
  @include justify-content(center);
}

.chat-message--left {
  @include justify-content(flex-start);
}

.chat-message--right {
  @include justify-content(flex-end);
}
