@import '../App/colors';
@import '../App/mixins';

// Generics

.chat-message {
  @include flex-row(flex-start, flex-start);
  box-sizing: border-box;
  font-size: 1rem;
  overflow: visible;
  position: relative;
  width: 100%;

  * {
    box-sizing: inherit;
  }
}

.chat-message--bottom {
  margin-bottom: .4rem;
}

.chat-message--center {
  @include justify-content(center);
}

.chat-message--full {
  .chat-message__avatar {
    min-width: 3.2rem;

    img,
    svg {
      @include square(3rem !important); // sass-lint:disable-line no-important
    }

    span {
      font-size: .9rem;
      font-weight: bold;
    }
  }
}

.chat-message--isolated {
  margin-bottom: .4rem;
  margin-top: .4rem;
}

.chat-message--left {
  @include justify-content(flex-start);
}

.chat-message--right {
  @include justify-content(flex-end);
}

.chat-message--top {
  margin-top: .4rem;
}

// Components

.chat-message__avatar {
  margin-bottom: 0;
  margin-top: 0;
  min-width: 3.5rem;
  pointer-events: auto;

  img,
  svg {
    @include square(3.5rem !important); // sass-lint:disable-line no-important
  }

  span {
    font-size: 1rem;
    font-weight: bold;
  }
}

.chat-message__content--float {
  > div {
    @include box-shadow(0 4px 8px 0 rgba($black, .2));
  }
}

.chat-message__content--normal {
  pointer-events: auto !important; // sass-lint:disable-line no-important

  * {
    @include selectable(text !important); // sass-lint:disable-line no-important
  }
}
